<% provide(:title, @user.email) %>
<div class="center hero-unit">
  <h1>Horoscope for Tomorrow:</h1>
  <div class="fulltext"><h2><%= @fulltext %></h2></div>
  <br>
  <%= render 'layouts/view_horoscope_btn' %>
</div>