<h3>View Horoscope for: </h3>
<p align="center">
  <%= link_to "< Yesterday", yesterday_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Today", today_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Tomorrow >", tomorrow_path, class: "btn btn-large btn-primary" %>
</p>